/*=================================*/
/*     Header' style definition    */
/*=================================*/
.site-header {
    background: #49ffa7;
    color: white;
    margin: 0;
    padding: 15px 10px 0px 10px;
    border-radius: 5px 5px 0px 0px;
}

.site-header .wrapper .site-title {
    display: inline;
    margin: 0;
}

.site-header .wrapper a.site-title {
    color: green;
    font-size: 120%;
}

.site-header .wrapper .site-nav {
    margin: 0;
    display: inline;
}

.site-header .wrapper .site-nav ul {
    color: red;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    font-weight: bold;
    display: inline;
}

.site-header .wrapper .site-nav ul li {
    background: yellow;
    display: inline-block;
    padding: 5px 10px 2px 10px;
}

.site-header .wrapper .site-nav a:link {
    color: red;
}

/*=================================*/
/*     Class' style definition     */
/*=================================*/
body {
    margin: 60px auto;
    width: 70%;
    font-family: arial;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;

}
footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/*=================================*/
/*     Class' style definition     */
/*=================================*/
.vhdl_code {
    background: #999;
    font-family: 'Sans-Serif';
}

.learning_left_col {
    background: #999;
    float: left;
    margin: 1%;
    width: 20%;
}

.learning_right_col {
    background: white;
    float: left;
    margin: 1%;
    width: 77%;
}

/*=================================*/
/*     ID' style definition        */
/*=================================*/
#special {
    background: red;
    color: white;
}

