    <footer class="site-footer">
        <ul class="social">
            <li><a href="/facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="/google" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="/twiter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="/youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="/instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <!--- End Social section-->
    </footer>
    <footer class="second">
        <p>&copy; Trung C. Nguyen</p>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/parallax.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>

    <script>
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
    </script>
</body>
</html>