
<header class="site-header" role="banner">
    <nav class="wrapper">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">My Work</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/learning">Learning
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/learning/dsp">Digital Signal Processing</a></li>
                      <li><a href="/learning/fpga">FPGA developer</a></li>
                      <li><a href="/learning/finance">Finance</a></li>
                      <li><a href="/learning/webdesign">Web Design</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>  
  </header>