{% include head.html %}
<!-- ===================================================================== -->
<!--  HEADER OF WEBSITE -->
<!-- ===================================================================== -->
{% include header.html %}
<!-- ===================================================================== -->
<!--  CONTENT OF WEBSITE -->
<!-- ===================================================================== -->
    {{ content }}
<!-- {% include nav.html %} -->
<!-- ===================================================================== -->
<!--  FOOTER OF WEBSITE -->
<!-- ===================================================================== -->
{% include footer.html %}