{% include head.html %}
<!-- ===================================================================== -->
<!--  HEADER OF WEBSITE -->
<!-- ===================================================================== -->
{% include header.html %}
<!-- ===================================================================== -->
<!--  CONTENT OF WEBSITE -->
<!-- ===================================================================== -->
	<div class="container">
    	{{ content }}
    </div>
<!-- {% include nav.html %} -->
<!-- ===================================================================== -->
<!--  FOOTER OF WEBSITE -->
<!-- ===================================================================== -->
{% include footer.html %}